/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.airbnb-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.but {
  color: #978667 !important;
}
